baseURL = "https://realmenweardress.es"
languageCode = "en-gb"
title = "Real Men Wear Dress.es"

copyright = "Adam Cooper"

# Site lnf
enableEmoji = true

disableKinds = ["taxonomy", "RSS"]

enableGitInfo = true

[module]
[module.hugoVersion]
min = "0.134.0"

[[module.imports]]
path = "go.acpr.dev/rmwd-hugo-theme"

[[module.mounts]]
source = "assets"
target = "assets"
[[module.mounts]]
source = "node_modules"
target = "assets/node_modules"
[[module.mounts]]
source = "static"
target = "static"
[[module.mounts]]
source = "node_modules/@fortawesome/fontawesome-free/webfonts"
target = "static/fonts"
includeFiles = [
  "fa-brands-400.*",
  "fa-solid-900.*"
]

[build]
  writeStats = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[pagination]
  pagerSize = 5

[params]
  description = "The gaming and technological musings of a software developer"
  githubName = "cooperaj"
  linkedInName = ""
  keybaseName = ""
  keyoxideURL = "hkp/adam%40acpr.dev"
  mastodonName = "@pieceofthepie@n8e.dev"
  cover = "images/cover.jpg"
  logo = "android-chrome-192x192.png"
  [params.author]
    name = "Adam Cooper"
    uri = "author/adam"
  [params.ackee]
    server = "analytics.n8e.dev"
    script = "viewerstats.js"
    id = "8b9bb4fc-b20d-4079-b82a-f2aec1e13e09"

[permalinks]
  month = "/:slug"
  post = "/:year/:month/:slug/"
  year = "/:slug"

[privacy]
  [privacy.youtube]
    privacyEnhanced = true

[security]
  [security.http]
    mediaTypes = ['^application/jrd\+json']

[taxonomies]
  tag = "tags"
  year = "year"
  month = "month"

[mediaTypes]
  [mediaTypes."application/atom+xml"]
    suffixes = ["xml"]

[outputFormats]
  [outputFormats.Atom]
    mediaType = "application/atom+xml"
    baseName = "feed"
    rel = "alternate"
    isPlainText = false
    isHTML = false
    noUgly = true

[outputs]
  home = ["HTML", "Atom"]
  section = ["HTML"]
  page = ["HTML"]
  taxonomy = ["HTML"]