<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/icon-vector.svg" width="32px" height="32px" />
                <span class="navbar-item title">{{.Site.Title}}</span>
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                {{ with .Site.GetPage "page" "about" }}
                <div class="navbar-item">
                    <a href="{{ .RelPermalink }}">
                        About
                    </a>
                </div>
                {{ end }}
                {{ with .Site.Params.twitterName }}
                <div class="navbar-item">
                    <a href="https://twitter.com/{{ . }}">
                        <span class="icon is-medium">
                            <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                {{ end }}
                {{ with .Site.Params.githubName }}
                <div class="navbar-item is-medium">
                    <a href="https://github.com/{{ . }}">
                        <span class="icon">
                            <i class="fab fa-github fa-lg" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        
    </div>
</nav>